body{
    color: white;
text-align: center;
}

#parent{
    position: relative;
    background-color: gray;
    height: 500px;
    width: 500px;
    border-color: grey;
        
}

#cap{
    position: absolute;
    text-align: center;
    
    bottom: 30px;
    left: 180px;
}
section{
    height: 100px;
    width: 100px;

}

section p{
    margin: 0px;
}

#red{
background-color: red;

}

#green{
    background-color: green;
    position: absolute;
    bottom: 0px;
    right: 50px;
}

