body{
    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0pt;

}

header{
    background-image: url("../images/shells.JPG");
    box-shadow: rgb(120, 60, 20) 3px 3px 10px;
    background-size: 100%;
    background-position: center;
    height: 380px;
    font-size: 40pt;
    font-family: 'Syne Tactile', cursive;
    color: white;
    padding: 15px 50px;
    margin: 0px 0px;

   
}


header .display-pic{
    background-color: none;
    background-image: url("../images/picture-of-me.jpg");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    position:relative;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-indent: -99999999px;
    box-shadow: rgb(120, 60, 20) 1px 1px 6px;
    margin-right: 2px;

}
nav ul {

  
    display: flex;
    flex-direction: row;
    font-size: 44pt;

    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0pt;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
   
    box-shadow: inset rgb(199, 175, 146) 4px -3px 5px;
}

nav li {
   
    margin: 0pt 30pt 0pt 0pt;
    /* background-color: brown; */
    border-radius: 13px;
    text-decoration: none;
    text-align: center;
    /* border-color: rgb(199, 175, 146);
    border: 1px; */
}

nav a {
    text-decoration: none;
    color: rgb(199, 175, 146);
    text-align: center;

    
}

nav a :active,nav a:hover, #in-use{
    background-color: rgb(199, 175, 146);
    border-radius: 13px;
    padding: 5pt;
    
}

#title{
    margin-top: 120px;
    margin-bottom: 80px;
}

section p{
    margin-bottom: 20px;
    margin-left: 300;
    margin-right:300 ;

}

button {
    text-align: bottom;
    border: none;
    color: black;
    background-color: white;
    border-radius: 7px;
}

section h1{
    font-size: 35;
    color: rgb(199, 175, 146);
}
footer{
    /* background-color: black; */
    padding: 5px 5px;
    margin-top: 120px;
    /* text-align: right; */
   
}



/* Blogs Tab */

#back-button, div a{
    
    text-align: left;
    text-decoration: none;
    margin-top: 50px;
    padding-top: 50px;
    
}



.blogs ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    color: grey;
    /* padding: 0px; */
    margin-left: 150px;
    margin-right: 150px;
    padding: 0px;
    
}

.blogs li{
   
    text-align: center;
    margin: auto;
    text-decoration: none;
    padding:0px;
    
    padding-top: 100px;
}

/* not working */
.blogs ul li a:active, a:hover, #in-use{
    text-decoration: none;
    color: white;
}
/* not working */

.blogs ul li a{
    text-decoration: none;
    color: rgb(199, 175, 146);
    font-size: 25;
    
}

.blogs img {
    width: 300px;
    height: 150px;
    list-style-type: none;
    
}

/* Positioning */

p, summary{
    text-align: justify;
    margin-bottom: 30px;
    margin-left: 300;
    margin-right:300 ;
}

h2{
    color: rgb(199, 175, 146);
    margin: 80 300 0 ;
}


h2 p{
    text-align: justify;
   
}


example{
    display: inline;

}


example img{
    height: 300;
    margin: 30px;
}

#backbutton{
  margin-top: 40px;

  height: 100px;
  width: 100px;
  position: absolute;
  top: 400px;
  left: 50px;
}

/* laptop */

@media (min-width:1200px) {
  h1,h2, {font-size: 120px;}
  example img{height: 100px;}
}

/* tablet */
@media (max-width:800px) {
  h1,h2, header, nav, a{font-size: 30px;}
  example img{height: 100px;}
}

/* phone */
@media (max-width:320px) {
  h1,h2, header, nav, a{font-size: 20px;}
  example img{height: 100px;}
}


